.mainDonateSection {
  .donateBorderWrapper {
    border-radius: 30px;
    background-image: linear-gradient(72.67deg, rgba(51, 254, 255, 0.2) 0%, rgba(207, 73, 254, 0.2) 21.35%, rgba(255, 199, 0, 0.2) 41.15%, rgba(250, 250, 250, 0) 100%);
    /* Fill the inside with white */
    background-origin: border-box;
    box-shadow: inset 0 100vw #19191B;
    /* A transparent border, so the very edge of the button shows through */
    border: 2px solid transparent;
    overflow: hidden;
  }
  .donate {
    height: 720px;
    background-image: linear-gradient(73deg, rgba(51, 254, 255, 0.02) 0%, rgba(207.21, 72.77, 254.45, 0.02) 21%, rgba(255, 198.90, 0, 0.02) 41%, rgba(250, 250, 250, 0) 100%);
    border-radius: 28px;
    overflow: hidden;

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .images {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      margin-left: 65px;
    
      img {
        width: auto;
        position: absolute;
        user-select: none;
        
        &:not(.main) {
          mix-blend-mode: color-dodge;
        }

        &.blink {
          animation: blink 5s ease infinite;
        }

        &.hue {
          animation: hue 30s ease infinite;
        }
      }
    }
    .info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: end;
      padding-right: 65px;
      text-align: right;
      gap: 47px;

      button {
        width: fit-content;
      }
      h2 {
        background-image: linear-gradient(72.67deg, rgba(51, 254, 255, 0.35) 0%, rgba(207, 73, 254, 0.35) 21.35%, rgba(255, 199, 0, 0.35) 41.15%, rgba(250, 250, 250, 0) 100%), linear-gradient(0deg, #F8FAFC, #F8FAFC);
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
      }
      p {
        color: #71717A;
      }
    }
  }
}

@keyframes blink {
  0% {
    opacity: 1.0;
  }
  80% {
    opacity: 0.5;
  }
  0% {
    opacity: 1.0;
  }
}

@keyframes hue {
  0% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(100deg);
  }
  100% {
    filter: hue-rotate(0deg);
  }
}