.cover {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  .content {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-right: 55px;
  }
  .picture {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 55px;

    img {
      width: 100%;
    }
  }
}